
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@400;500;700&family=Overpass&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}

.body{
  margin: 0;
  height: 100%;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 5px 5px #ddd;
  background-color: #fff;
}
.main-container{
  padding: 20px 20px;
  padding-top: 60px;
}
.main-cover{
  float:left;
  width: 100%;
  height: calc(100vh - 80px);
  background: url(/public/images/background-main.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.main-cover::before{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #000000ad;
  position: absolute;
}
.login-content{
  

}
.main-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
  min-width: 550px;
}
.left-login{
  width: 33%;
  height: 100%;
  background-color: rgb(31, 13, 192);
  float:left;

}
.right-login{
  width: 67%;
  float: left;
  height: 100%;
  background-color: white;

}
.login-text{
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  position: absolute;
  top:40px;
  left:40px
}
.logo{
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 0 auto;
}
.right-login .main-header{
  margin-top: 40px;
  width: 100%;
  
}
.logo-text{
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  margin-left: 30px;
  transform: translateY(20%);
}
.logo-content{
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.main-title{
  color:#8b8b8b;
  margin-bottom: 20px;
}
.mb-3 input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
}
.logo-title{
  width: 150px;
  height: 50px;
  margin-right: 15px;
  margin-top: 5px;
}
.header-left{
  
}
.timer-container{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
  
}

.join-container{
  margin-top: 80px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 80px);
  position: relative;
  min-width: 1500px;
}
.join-content{
  width: 70%;
  background-color: #f0eded;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  box-shadow:  0px 0px 5px 10px #ccc;
  border-radius: 10px;
}
.join-image{
  width: 50%;
  height: 100%;
  background-color: #fff;
  float: left;
  overflow: hidden;
}
.join-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabs{
  height: 100%;
  width: 300%;
  transition: 0.5s;
}
.tab{
  height: 100%;
  float: left;
  width: 33.33333%;
}
.join-image1{
  height: 100%;
  background: url(/public/images/story.jpg) no-repeat center center;
  background-size: cover;
}
.join-image2{
  height: 100%;
  background: url(/public/images/talk.jpg) no-repeat left center;
  background-size: cover;
}
.join-image3{
  height: 100%;
  width: 100%;
  background: url(/public/images/fun.jpg) no-repeat center center;
  background-size: cover;
}