
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@400;500;700&family=Overpass&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}

.body{
  margin: 0;
  height: 100%;
}

.header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 5px 5px #ddd;
  background-color: #fff;
}
.main-container{
  padding: 20px 20px;
  padding-top: 60px;
}
.main-cover{
  float:left;
  width: 100%;
  height: calc(100vh - 80px);
  background: url(/public/images/background-main.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.main-cover::before{
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #000000ad;
  position: absolute;
}
.login-content{
  

}
.main-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
  min-width: 550px;
}
.left-login{
  width: 33%;
  height: 100%;
  background-color: rgb(31, 13, 192);
  float:left;

}
.right-login{
  width: 67%;
  float: left;
  height: 100%;
  background-color: white;

}
.login-text{
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  display: inline-block;
  position: absolute;
  top:40px;
  left:40px
}
.logo{
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 0 auto;
}
.right-login .main-header{
  margin-top: 40px;
  width: 100%;
  
}
.logo-text{
  font-size: 45px;
  font-weight: 600;
  display: inline-block;
  margin-left: 30px;
  transform: translateY(20%);
}
.logo-content{
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.main-title{
  color:#8b8b8b;
  margin-bottom: 20px;
}
.mb-3 input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
}
.mb-3 textarea{
  border-radius: 0;

  border: 2px solid #000;
}
.logo-title{
  width: 150px;
  height: 50px;
  margin-right: 15px;
  margin-top: 5px;
}
.header-left{
  
}
.timer-container{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
  
}

.join-container{
  margin-top: 80px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 80px);
  position: relative;
  min-width: 1500px;
}
.join-content{
  width: 70%;
  background-color: #f0eded;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 90%;
  box-shadow:  0px 0px 5px 10px #ccc;
  border-radius: 10px;
}
.join-image{
  width: 50%;
  height: 100%;
  background-color: #fff;
  float: left;
  overflow: hidden;
}
.join-right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.join-image > .tabs{
  height: 100%;
  width: 300%;
  transition: 0.5s;
}
.join-image > .tabs> .tab{
  height: 100%;
  float: left;
  width: 33.33333%;
}
.join-image1{
  height: 100%;
  width: 100%;
  background: url(/public/images/story.jpg) no-repeat center center;
  background-size: cover;
}
.join-image2{
  height: 100%;
  width: 100%;
  background: url(/public/images/talk.jpg) no-repeat left center;
  background-size: cover;
}
.join-image3{
  height: 100%;
  width: 100%;
  background: url(/public/images/fun.jpg) no-repeat center center;
  background-size: cover;
}
.profilePreview{
  display: block;
  height: 200px;
  margin: 0 auto;
}
.profilesetting-content{
  display: none;
}
.id-container,
.cpw-container,
.pw-container,
.bbs-container,
.write-container,
.read-container{
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 60px);
}
.write-container{
  margin-top: 0px;
  padding: 0px;
}
.id-photo{
  width: 100%;
  height: 40%;
  background:url(/public/images/id.jpg) no-repeat center center;
  background-size: cover;
  background-color: #000;
}

.id-content,
.cpw-content{
  height: 50%;
  top:70%;
  width: 40%;
  min-width: 700px;
}

.pw-content{
  height: 51%;
  top:70%;
  width: 40%;
  min-width: 700px;
}

.profile-container{
  background: #000;
  width: 100%;
  height: 300px;
  background: url(/public/images/background-main.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.profile-container::before{
  content: '';
  height: 100%;
  width: 100%;
  background: #000000c5;
  position: absolute;
  
}
.profile-content{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 300px;
  transform: translate(-50%, -50%);
  flex-direction: column;
 

}
.profile{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.profile-nickname{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  
}
.profile-state{
  color: #fff;
}
.profile-left{
  margin-left: 30px;
  position: absolute;
  left:200px;
  top:50%;
  transform: translateY(0%);
}
.tc-container{
  width: 100%;
  height: 100px;
  text-align: left;
  padding: 0 20px;
}
.write-content{
  margin-top: 100px;
  width: 80%;
  box-shadow:  0px 0px 5px 10px #ccc;
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px 0;
  background-color: #eee;
}

.user-container{
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.profilebox-outter{
  width: 320px;
  height: 400px;
  padding: 20px 20px;
  
}

.profilebox-inner{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0 5px 5px #ddd;
  overflow: hidden;
}

.profilebox-inner:hover{
  transform: translateY(-10px);
}
.profilebox-image{
  width: 100%;
  height: 50%;
  background: url(/public/images/background-main.jpg) no-repeat center center / 100% 100%;
}
.profilebox-info{
  width: 100%;
  margin-top: 2.5%;
  height: 7.5%;
  font-size: 13px;
  padding: 0 10px;
  color: #807f7f;
  border-bottom: 1px solid #eee;
}
.profilebox-state{
  width: 100%;
  height: 30%;
  padding: 10px 10px;

  overflow: hidden;
  text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.profilebox-nickname{
  width: 80%;
  display: inline-block;
  padding: 0 10px;
  height: 100%;
  line-height: 4;
  color: #807f7f;
  line-height: 2.5;
  font-size: 13px;
}
.message-title{
  font-weight: bold;
}
.profilebox-nickname span{
  color: #000;

}
.user-wrapper{
  width: 100%;
  height: auto;
  padding: 0 50px;
  background-color: #F8F9FA;
}
.user-tabs{
  width: 100%;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.like-info{
  display: inline-block;
  width: auto;
}
.like-info {
  font-size: 13px;
  transform: translateY(2px);
}
.like-info span:nth-child(1){
  margin-right: 10px;
}
.user-tabs > .tabs{
  display:flex;
  height: 100%;
  width: auto;
  min-width: 1000px;
  position: relative;
}
.user-tabs > .tabs > .tab{
  width: 120px;
  height: 100%;
  display: flex;
  font-size: 20px;
  color: rgb(134, 142, 150);
  padding-top: 10px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.user-tabs > .tabs > .tab.active{
  color:#000;
  font-weight: bold;
}
.user-tabs > .tabs > .tab > .fa{
  margin-right: 10px;
  transform: translateY(5px);
}
.tab-bar{
  width: 120px;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
.tab-search-container{
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  border: 2px solid #adb5bd;
  padding: 10px 10px;
  color: #adb5bd;
  transition: 0.3s;
}
.tab-search-container .fa{
  font-size: 22px;
  transform: translateY(2px);
  margin-right: 10px;
  transition: 0.3s;
}
.tab-search-container input{
  border: none;
  width: 100%;
  background: transparent;
}
.tab-search-container input:focus{
  outline: none;
}
.tab-search-container input:focus .tab-search-container{
  border: 1px solid #000;
}
.modal-container{
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #00000093;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.5s;
  
}
.modal-container.active{
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: #00000093;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(0);
}
.modal-content{
  width: 800px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) ;
  background-color: #F8F9FA;
  padding: 30px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.modal-image-box{
  width: calc(50% - 25px);
  height: 100%;
  border-right: 1px solid #ddd;
  margin-right: 25px;
}
.modal-image-box-input{
  margin-bottom: 30px;
}
h3{
  font-size: 21px;
}
.modal-hashtag-box{
  width: 50%;
  height: 100%;
  position: relative;
  
}

.modal-hashtag-box-content{
  width: 100%;
  height: 180px;
  border: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}
.modal-hashtag-box-content > div{
  color: #14B886;
  font-size: 16px;
  background: #eee;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}
.modal-hashtag-box-content > div:hover::after{
  display: block;
  content: '클릭하면 삭제됩니다.';
  color: white;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #000;
  font-size: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}
.modal-hashtag-box input{
  width: 100%;
  height: 30px;
  border: none;
  margin-top: 5px;
  background: transparent;
  border-bottom: 1px solid #aaa;
}
.modal-hashtag-box input:focus{
  outline: none;
  border-bottom: 1px solid black;
}
.modal-hashtag-box-buttongroup{
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.cancel,
.submit{
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 700;
  border: none ;
  border-radius: 5px;
  margin-left: 10px;
}

.cancel{
  color: #14B886;
  background-color: transparent;
}
.cancel:hover{
  
  background-color: #eee;
}
.submit{
  color: #fff;
  background-color: #14B886;
}
.table-data-container{
  width: 100%;
  height: 100%;
}
.table-data{
  width: 100%;
  height: 200px;
  min-width: 1000px;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding :25px 0px;
  cursor: pointer;
}
.table-data-image{
  height: 150px;
  width: 150px;
  margin-right: 50px;
}
.table-data-image > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.table-data-content{
  width: 65%;
  height: 100%;
  margin-right: 50px;
}
.table-data-info{
  width: calc(100% - 65% - 200px - 50px);
  height: 100%;
}

.table-data-info-hashtag > div{
  color: #14B886;
  font-size: 13px;
  background: #eee;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-data-info-hashtag{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  max-height: 100px;
  margin-bottom: 10px;
}
.table-data-content-title{
  font-size: 25px;
  width: 100%;

  white-space: nowrap; 		
  word-break:break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.table-data-content-title > h3{
  font-size: 25px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-data-content-content{
  text-align: left;
  color: #5a5a5a;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.table-data-content-profile{
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.table-data-content-profile div{
  margin-left: 20px;
  line-height: 40px;
}
.table-data-content-profile div span:nth-child(2){
  font-size: 13px;
  color: #7a7a7a;
}
.table-data-content-profile img{
  width: 40px;
  height: 40px;
  
  text-align: left;
  border-radius: 50%;
  object-fit: cover;
}
.table-data-info-date{
  color: #5a5a5a;
  margin-bottom: 5px;
}
.table-data-info-like .fa{
  margin-right: 3px;
}
.table-data-info-like span{
  margin-right: 5px;
}
@media (max-width: 800px) {
  .tab-search-container{
      
      position:static;

  }
  .timer-container{
    display: inline-block;
    min-width: 500px;
    left :500px
  }
}
